.about {
  .container {
    margin-top: -280px;
  }

  .photo-block {
    width: 100%;
    min-height: 700px;
    background: linear-gradient(180deg, rgba(31, 22, 10, 0) 0%, #1f160a 100%),
      url(../assets/images/magestic-author.jpg), #1f160a;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      background-position: 50%;
    }
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      padding: 12px 0;
      text-align: left;
    }
  }

  .subtitle {
    width: auto;
    @include font($font-primary, 1.2rem, $color-accent, 500);
    line-height: 150%;
    text-align: left;
    font-style: italic;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  .list {
    &__item {
      padding-top: 36px;
      @include font($font-primary, 1rem, $color-accent, 400);
      line-height: 150%;

      @include mobile {
        padding: 24px 5px 0 10px;
      }
    }

    &__emp {
      color: $color-light;
      font-weight: 600;
    }
  }

  .icon-wrapper {
    width: 155px;
    height: 135px;
    margin: 0 auto;
  }

  .signature {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 734px;
    max-width: 100%;
    padding: 24px 33px;
    margin: 48px 0 80px;
    background-color: $color-light;
    border-radius: 24px;

    @include mobile {
      padding: 10px;
    }

    &__title {
      @include font($font-primary, 1rem, $color-dark, 700);
      line-height: 150%;
    }

    &__desc {
      @include font($font-primary, 1.25rem, $color-dark, 500);
      line-height: 150%;
    }
  }
}
