.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 48px;
  border-radius: 24px;
  background-color: $color-accent;
  @include font($font-primary, 20px !important, $color-dark, 500);
  line-height: 170%;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-in-out;

  @include mobile {
    padding: 20px;
  }
}

.bottom {
  height: 0;
  overflow: hidden;
  margin-top: 24px;
  margin: 12px 0;
  border-radius: 24px;
  background-color: $color-accent;
  @include font($font-primary, 20px !important, $color-dark, 500);
  line-height: 170%;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-in-out;
}

.bottom--inner {
  padding: 34px 48px;

  & > *,
  & > ul {
    padding-bottom: 20px;
  }

  & > *:last-child,
  & > ul {
    padding-bottom: 0;
  }

  & > *:only-child,
  & > ul:only-child {
    padding-bottom: 0;
  }

  @include mobile {
    padding: 20px;
    margin-bottom: 0;
  }
}

.active,
.top:hover,
.top.active {
  background-color: $color-active;
  color: $color-accent;
}

.open {
  font-size: 40px;
  padding-left: 36px;
}

.editional {
  &__title {
    font-weight: 700;
  }
  &__content {
    padding-left: 10px;
    font-weight: 500;
  }
}

.homework {
  &__title {
    font-weight: 700;
  }
}
