.calc-wrapper {
  text-align: center;

  .block-title {
    @include font($font-primary, 36px, $color-dark, 700);
    line-height: 140%;
  }

  .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .input {
      min-width: 152px;
      max-width: 175px;
      padding: 20px 60px;
      margin: 12px;
      border-radius: 24px;
      border: none;
      background: $color-accent;
      outline: none;
      @include font($font-primary, 24px, $color-dark, 700);
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:active,
      &:hover,
      &:focus {
        opacity: 0.75;
      }

      &::placeholder {
        @include font($font-primary, 24px, $color-dark, 700);
      }

      &--btn {
        min-width: 265px;
        background-color: $color-active;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  .content {
    margin-bottom: 64px;
    @include font($font-primary, 24px, $color-dark, 400);
    line-height: 170%;

    &--form {
      color: $color-accent;
    }
  }
  .output {
    margin: 64px 0;
    @include font($font-primary, 36px, $color-dark, 500);
    line-height: 150%;
  }
}

.form-block {
  padding: 48px;
  margin: 0 auto 64px;
  background: $color-dark;
  border-radius: 36px;
  text-align: center;

  @include mobile {
    padding: 10px;
  }

  .icon-wrapper {
    margin: 0 auto;
  }
  .form-title {
    @include font($font-primary, 36px, $color-accent, 500);
    line-height: 140%;

    @include mobile {
      font-size: 26px;
    }
  }
  .content {
    color: $color-accent;

    @include mobile {
      font-size: 14px;
    }
  }
}
