.calc-wrapper {
  text-align: center;

  .block-title {
    @include font($font-accent, 2.25rem, $color-dark, normal);
    line-height: 140%;
  }

  .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .input-wrapper {
      margin: 64px 15px 0px;
    }

    .input {
      padding: 20px 60px;
      margin: 12px;
      border-radius: 24px;
      border: none;
      background: $color-accent;
      outline: none;
      @include font($font-primary, 1rem, $color-dark, 700);
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:active,
      &:hover,
      &:focus {
        opacity: 0.75;
      }

      &::placeholder {
        @include font($font-primary, 1rem, $color-dark, 700);
      }

      &--btn {
        min-width: 265px;
        background-color: $color-active;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  .content {
    margin: 40px 0 64px;
    @include font($font-primary, 1rem, $color-dark, 400);
    line-height: 150%;

    &--form {
      color: $color-accent;
    }
  }
  .output {
    margin-top: 64px;

    &__title {
      @include font($font-accent, 2.25rem, $color-dark, 500);
      line-height: 150%;
    }

    .prev,
    .author {
      @include font($font-primary, 1rem, $color-dark, 400);
      font-style: italic;
      line-height: 150%;
      text-align: left;
    }

    .desc {
      margin-top: 24px;
      @include font($font-primary, 1rem, $color-dark, 400);
      line-height: 150%;
      text-align: left;
    }
  }
}

.form-block {
  padding: 48px;
  margin: 0 auto 64px;
  background: $color-dark;
  border-radius: 36px;
  text-align: center;

  @include mobile {
    padding: 10px;
  }

  .icon-wrapper {
    margin: 0 auto;
  }
  .form-title {
    @include font($font-primary, 2.25rem, $color-accent, 500);
    line-height: 140%;

    & > strong {
      font-family: $font-accent;
    }

    @include mobile {
      font-size: 1.5rem;
    }
  }
  .content {
    color: $color-accent;

    @include mobile {
      font-size: 0.875rem;
    }
  }
}
