.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 30px 0;

  @include mobile {
    padding: 0;
    margin: 30px auto;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: calc(50% - 40px);
    height: 1px;
    background-color: #aa7e52;
    opacity: 0.25;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: calc(50% - 40px);
    height: 1px;
    background-color: #aa7e52;
    opacity: 0.25;
  }

  &__icon {
    position: relative;
    max-width: 94px;
  }
}
