.exercises {
  .content {
    padding: 24px 0;
    @include font($font-primary, 1rem, $color-dark, 600);
    line-height: 150%;
    text-align: center;

    i {
      font-weight: 400;
    }
  }

  .accordion {
    margin: 40px 0;
  }

  .example-block {
    padding: 48px;
    margin-bottom: 45px;
    background-color: $color-accent;
    border-radius: 36px;

    .icon-wrapper--small {
      padding: 0 0 36px 0;

      @include mobile {
        padding-top: 36px;
      }
    }

    @include mobile {
      padding: 20px 12px;
    }
  }

  .example {
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 36px;
    }

    &__title {
      @include font($font-accent, 36px, $color-dark, normal);
      line-height: 140%;

      @include mobile {
        font-size: 1.875rem;
      }
    }

    &__desc {
      @include font($font-primary, 1rem, $color-dark, 600);
      line-height: 150%;
    }

    &__point,
    &__content {
      @include font($font-primary, 1rem, $color-dark, 400);
      line-height: 150%;
    }
  }
}
