.exercises {
  .content {
    padding: 24px 0;
    @include font($font-primary, 24px, $color-dark, 600);
    line-height: 170%;
    text-align: center;
  }

  .accordion {
    margin: 64px 0;
  }

  .example-block {
    padding: 48px;
    margin-bottom: 45px;
    background-color: $color-accent;
    border-radius: 36px;

    .icon-wrapper--small {
      padding: 0 0 36px 0;

      @include mobile {
        padding-top: 36px;
      }
    }

    @include mobile {
      padding: 20px 12px;
    }
  }

  .example {
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 36px;
    }

    &__title {
      @include font($font-primary, 36px, $color-dark, 700);
      line-height: 140%;

      @include mobile {
        font-size: 30px;
        line-height: initial;
      }
    }

    &__desc {
      @include font($font-primary, 24px, $color-dark, 600);
      line-height: 170%;

      @include mobile {
        line-height: inherit;
      }
    }

    &__point,
    &__content {
      @include font($font-primary, 24px, $color-dark, 400);
      line-height: 170%;

      @include mobile {
        line-height: inherit;
      }
    }
  }
}
