.footer-block {
  padding: 18px 36px;
  margin: 64px 0;
  background-color: rgba(254, 249, 220, 0.03);
  border-radius: 36px;

  @include tablet {
    padding: 18px 24px;
  }

  @include tablet {
    padding: 18px 10px;
  }

  &__title {
    padding: 20px 60px;

    @include mobile {
      padding: 20px;
      font-size: 1.875rem;
    }

    @include font($font-primary, 2.25rem, $color-accent, 500);
    line-height: 150%;
    text-align: center;
  }

  &__border {
    padding: 36px 64px;
    margin: 20px auto;
    @include font($font-primary, 3rem, $color-light, 700);
    border: 2px solid $color-light;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));

    @include tablet {
      padding: 24px;
    }

    @include mobile {
      padding: 24px 10px;
    }
  }

  &__accent {
    font-weight: 700;
  }

  .content {
    padding: 6px 36px;
    @include font($font-primary, 1rem, $color-accent, 600);
    line-height: 150%;
    text-align: center;

    @include mobile {
      padding: 6px;
    }

    &__accent {
      color: $color-light;
      font-weight: 700;
    }
  }
}

.contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex-direction: column;
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &__item > * {
    @include font($font-primary, 1rem, $color-accent, 400);
  }

  &__icons {
    display: flex;

    .social-icon {
      margin: 0 12px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    color: $color-accent;
  }

  &__title {
    font-weight: 600;
  }

  @include mobile {
    &__text--col {
      flex-direction: column;
    }
  }
}

.social-icon {
  width: 24px;
  height: 24px;
  margin: 0 24px;

  &__img {
    width: 100%;
  }
}

.footer {
  background-color: rgba(254, 249, 220, 0.03);

  .social-wrapper {
    display: flex;
    transform: translateY(-50%);
  }

  .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 27px;
    margin: 0 auto;
    border-radius: 36px;
    background-color: $color-light;

    @include mobile {
      padding: 10px;
      justify-content: space-between;
    }

    .social-icon {
      margin: 0;
    }

    &__item {
      padding: 0 27px;

      @include mobile {
        padding: 13px;
      }

      &:hover > .social__icon,
      &:active > .social__icon {
        box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
          6px 6px 11px 6px rgba(0, 0, 0, 0);
      }
    }
  }

  .rights {
    text-align: center;

    &__title {
      padding-bottom: 16px;
      @include font($font-primary, 1rem, $color-light, 700);
      line-height: 150%;
    }

    &__desc {
      padding-bottom: 20px;
      @include font($font-primary, 1rem, $color-accent, 500);
      line-height: 150%;
    }
  }
}
