.form-wrapper {
  padding: 48px;
  margin: 0 auto;
  width: 716px;
  max-width: 100%;

  @include mobile {
    padding: 15px;
  }

  .form-content {
    padding: 24px;
    @include font($font-primary, 0.875rem, $color-accent, 400);
    line-height: 29px;
    text-align: center;
  }
}

.form-border {
  border: 1px dashed $color-light;
  border-radius: 36px;
  margin-bottom: 70px;
}

.form {
  .input {
    width: 100%;
    padding: 30px 48px;
    margin-bottom: 36px;
    border: 1px solid #aa7e52;
    border-radius: 14px;
    background: transparent;
    outline: none;
    @include font($font-primary, 1.25rem, $color-accent, 600);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include mobile {
      padding: 15px;
    }

    &:active,
    &:hover,
    &:focus {
      opacity: 0.75;
    }

    &::placeholder {
      @include font($font-primary, 1.25rem, $color-accent, 600);

      @include mobile {
        font-size: 1rem;
      }
    }

    &--btn {
      background-color: $color-light;
      color: $color-dark;
    }
  }
}
