.gifts {
  .gift {
    display: flex;
    align-items: flex-start;
    padding: 64px 78px;
    margin: 48px 0;
    background: rgba(254, 249, 220, 0.05);
    border-radius: 36px;

    @include tablet {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }

    @include mobile {
      padding: 15px 10px 15px 15px;
    }

    &__number {
      @include font($font-accent, 5.25rem, $color-accent, normal);
      @include mobile {
        font-size: 3.75rem;
      }
    }

    &__num {
      width: 210px;
      height: 190px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(../assets/images/moon-circle.png) 50% no-repeat;
      background-size: contain;

      @include mobile {
        width: 140px;
        height: 155px;
      }
    }

    &__content {
      padding-left: 64px;

      @include mobile {
        padding-left: 0;
        font-size: 1.25rem;
      }

      & > * {
        padding-bottom: 16px;
      }
    }

    &__title {
      @include font($font-accent, 2.25rem, $color-light, normal);
      line-height: 150%;

      @include mobile {
        font-size: 24px;
        text-align: center;
      }
    }

    &__subtitle {
      @include font($font-primary, 1rem, $color-active, 600);
    }

    &__desc {
      @include font($font-primary, 1rem, $color-accent, 600);

      @include mobile {
        font-size: 1.25rem;
      }

      p {
        font-weight: 400;
      }
    }
  }

  .list {
    &__item {
      width: 75%;
      @include font($font-primary, 1rem, $color-light, 600);
      line-height: 150%;

      @include mobile {
        width: 100%;
        font-size: 1.125rem;
        line-height: 120%;
        font-weight: 400;
      }
    }

    &__item > span {
      padding-left: 10px;
      color: $color-accent;
    }
  }

  .list--ul {
    padding-left: 25px;

    &__item {
      position: relative;
      @include font($font-primary, 1rem, $color-accent, 400);
      line-height: 150%;

      @include mobile {
        font-size: 1.125rem;
      }

      &::before {
        content: '•';
        position: absolute;
        transform: translateX(-25px);
        color: $color-light;
      }
    }
  }
}
