.header {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  background: linear-gradient(180deg, rgba(31, 22, 10, 0) 0%, #1f160a 100%),
    url(../../assets/images/magestic-bgr.png), #1f160a;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  @include tablet {
    height: auto;
    padding: 30px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    & > * {
      margin-bottom: 36px;
    }

    @include mobile {
      justify-content: center;
      align-items: center;
    }
  }

  .icon-wrapper {
    width: 175px;
    height: 175px;
  }

  .content {
    padding: 24px 36px;
    @include font($font-primary, 24px, $color-accent, 600);
    line-height: 29px;
    text-align: center;

    &__accent {
      color: $color-light;
    }

    &--border {
      border: 2px solid #f6c37d;
      filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));
      border-radius: 16px;
    }

    @include mobile {
      padding: 12px;
      font-size: 20px;
    }
  }
}
/*advantages*/
.advantages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 40px;
    text-align: center;
  }

  &__icon {
    margin: 0 auto;
  }

  &__img {
    margin: 0 auto;
  }

  &__num {
    @include font($font-accent, 48px, $color-accent, normal);
  }

  &__text {
    @include font($font-primary, 24px, $color-light, 600);
  }
}
