.info {
  .block {
    height: 770px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    background: url(../assets/icons/magestic-frame.svg) 50% no-repeat;
    background-size: contain;
    text-align: center;

    @include tablet {
      margin-top: -70px;
    }
    @include mobile {
      height: 550px;
      padding: 20px;
      background: none;
    }

    &__content {
      padding: 24px 36px;
      margin-top: 64px;
      @include font($font-primary, 36px, $color-accent, 600);
      line-height: 140%;
      border: 2px solid #f6c37d;
      filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));
      border-radius: 36px;

      @include tablet {
        padding: 12px 24px;
        font-size: 24px;
      }
    }

    &__accent {
      color: $color-light;
    }

    &__text {
      padding: 30px 45px;
      @include font($font-primary, 18px, $color-accent, 400);
      line-height: 140%;

      @include tablet {
        padding: 15px 25px;
        font-size: 20px;
      }
    }

    &__double {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      margin-top: 30px;

      @include tablet {
        margin-top: 0;
      }

      .block__text:first-child {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 58px;
          background-color: #fef9dc;
          opacity: 0.1;

          @include mobile {
            width: 0;
          }
        }
      }
    }
  }

  .block__text > h4.block__accent {
    font-weight: 600;
  }

  .block--small {
    width: 100%;
    min-height: 495px;
    padding: 20px;
    background: url(../assets/icons/cards-magestic.svg) 50% no-repeat;
    background-size: contain;
    text-align: center;

    @include mobile {
      background-position: bottom;
    }

    &__content {
      @include font($font-primary, 36px, $color-accent, 400);

      @include mobile {
        font-size: 24px;
      }
      @media only screen and (max-width: 430px) {
        padding-top: 110px;
        font-size: 20px;
      }
    }

    &__accent {
      color: $color-light;
      font-weight: 600;
    }
  }
}
