.lessons {
  .icon-wrapper {
    margin: 36px auto;
  }

  .list {
    &__item {
      padding: 5px 0;
      @include font($font-primary, 1.25rem, $color-dark, 500);
      line-height: 170%;
    }

    &__counter {
      padding-right: 5px;
      font-weight: 700;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 80px;
  }

  .btn {
    color: $color-accent;
    background-color: $color-dark;

    &:hover,
    &:active {
      background-color: $color-active;
      color: $color-accent;
    }
  }

  .left {
    background: url(../assets/icons/btn-outside-dark.svg) 50% no-repeat;
    width: 142px;
    height: 50px;
    z-index: 2;
    transform: translateX(40px);
  }

  .right {
    background: url(../assets/icons/btn-outside-dark.svg) 50% no-repeat;
    width: 142px;
    height: 50px;
    z-index: 2;
    transform: scaleX(-1) translateX(40px);
  }

  @include mobile {
    .left {
      width: 0;
      height: 0;
    }

    .right {
      width: 0;
      height: 0;
    }
  }
}
