@import 'variables';
@import 'mixin';

.program {
  .subtitle {
    margin-bottom: 40px;
    @include font($font-primary, 24px, $color-dark, 700);
    line-height: 170%;
    text-align: center;
  }
  .list {
    font-weight: 500;

    &__counter {
      padding-right: 5px;
      font-weight: 700;
    }
  }

  .editional {
    &__content {
      padding-left: 10px;
      font-weight: 500;
    }
  }

  .icon-wrapper {
    width: 64px;
    height: 12px;
    margin: 80px auto 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
