.slider {
  justify-content: space-between;
  align-items: flex-start;
  animation-name: fade;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 320px;
    height: 320px;
    margin-right: 64px;
    float: left;
    background: url(../assets/images/frame.png) 50% no-repeat;
    background-size: cover;

    @media screen and (max-width: 992px) {
      margin-right: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__picture {
    width: 100%;
    height: 100%;
    padding: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__title {
    padding: 16px 0;
    @include font($font-primary, 2.25rem, $color-accent, 700);
    line-height: 140%;

    @include mobile {
      font-size: 1.875rem;
      text-align: center;
    }
  }

  &__city {
    padding-bottom: 16px;
    @include font($font-primary, 1.25rem, $color-light, 600);
    line-height: 150%;
  }

  &__text {
    @include font($font-primary, 1rem, $color-accent, 500);
    line-height: 150%;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__p {
    padding-bottom: 16px;
  }
}

.swiper-container {
  width: 100%;
}
