@import 'variables';
@import 'mixin';

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
}

.btn {
  position: relative;
  min-width: 525px;
  padding: 36px 40px;
  @include font($font-primary, 1.25rem, $color-dark, 700);
  text-align: center;
  border-radius: 36px;
  background-color: $color-light;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 3;

  &:hover,
  &:active {
    background-color: $color-active;
    color: $color-accent;
  }

  @include tablet {
    min-width: auto;
  }
}

.left {
  background: url(../assets/icons/btn-outside.svg) 50% no-repeat;
  width: 142px;
  height: 50px;
  z-index: 2;
  transform: translateX(40px);

  &--wide {
    transform: translateX(0);
  }
}

.right {
  background: url(../assets/icons/btn-outside.svg) 50% no-repeat;
  width: 142px;
  height: 50px;
  z-index: 2;
  transform: scaleX(-1) translateX(40px);
  &--wide {
    transform: scaleX(-1) translateX(0);
  }
}

@include mobile {
  .left {
    width: 0;
    height: 0;
  }

  .right {
    width: 0;
    height: 0;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    padding: 12px;
    border-radius: 24px;
    font-size: 1.125rem;
  }
}

.scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.4s ease;

  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
