@import 'variables';
@import 'mixin';

body {
  background-color: $color-dark;
}

.container {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;

  &--narrow {
    width: 1100px;
    padding: 10px 18px;

    @include mobile {
      padding: 10px;
    }
  }
}

.title {
  padding: 12px;
  @include font($font-accent, 48px, $color-dark, normal);
  text-align: center;

  &--light {
    color: $color-light;
  }

  &--accent {
    color: $color-accent;
  }

  @include mobile {
    font-size: 36px;
  }
}

.subtitle {
  margin-bottom: 40px;
  @include font($font-primary, 24px, $color-dark, 700);
  line-height: 170%;
  text-align: center;
}

.dark {
  width: 100%;
  // background-color: $color-dark;
}

.light {
  width: 100%;
  background-color: $color-light;
}

.requirements .vsa-item__trigger {
  background-color: #f6c37d !important;
}
