@import 'variables';
@import 'mixin';
html {
  font-size: 18px;
}

body {
  background-color: $color-dark;
}

.container {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;

  &--narrow {
    width: 1100px;
    padding: 10px 18px;

    @include mobile {
      padding: 10px;
    }
  }
}

.title {
  padding: 12px;
  @include font($font-accent, 3rem, $color-dark, normal);
  text-align: center;

  &--light {
    color: $color-light;
  }

  &--accent {
    color: $color-accent;
  }

  @include mobile {
    padding: 12px 0;
    font-size: 1.875rem;
  }
}

.subtitle {
  margin-bottom: 40px;
  @include font($font-primary, 1rem, $color-dark, 700);
  line-height: 150%;
  text-align: center;

  @include mobile {
    .subtitle {
      font-size: 1.25rem;
      line-height: initial;
    }
  }
}

.dark {
  width: 100%;
}

.light {
  width: 100%;
  background-color: $color-light;
}

.icon-wrapper {
  width: 118px;
  height: 120px;
  margin: 80px auto 36px;

  @include mobile {
    margin: 30px auto 30px;
  }

  &--small {
    width: 64px;
    height: 12px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@include tablet {
  .mobile-clear {
    display: none;
  }
}
