@charset "UTF-8";
body {
  background-color: #1f160a; }

.container {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px; }
  .container--narrow {
    width: 1100px;
    padding: 10px 18px; }
    @media only screen and (max-width: 768px) {
      .container--narrow {
        padding: 10px; } }

.title {
  padding: 12px;
  font-family: "Sunday";
  font-size: 48px;
  color: #1f160a;
  font-weight: normal;
  text-align: center; }
  .title--light {
    color: #f6c37d; }
  .title--accent {
    color: #fef9dc; }
  @media only screen and (max-width: 768px) {
    .title {
      font-size: 36px; } }

.subtitle {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #1f160a;
  font-weight: 700;
  line-height: 170%;
  text-align: center; }

.dark {
  width: 100%; }

.light {
  width: 100%;
  background-color: #f6c37d; }

.requirements .vsa-item__trigger {
  background-color: #f6c37d !important; }

.icon-wrapper {
  width: 118px;
  height: 120px;
  margin: 80px auto 36px; }
  .icon-wrapper--small {
    width: 64px;
    height: 12px;
    margin: 0 auto; }
  .icon-wrapper img {
    width: 100%;
    height: 100%; }

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 auto; }

.btn {
  position: relative;
  min-width: 525px;
  padding: 36px 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #1f160a;
  font-weight: 700;
  text-align: center;
  border-radius: 36px;
  background-color: #f6c37d;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 3; }
  .btn:hover, .btn:active {
    background-color: #aa7e52;
    color: #fef9dc; }
  @media only screen and (max-width: 1024px) {
    .btn {
      min-width: auto; } }

.left {
  background: url(../assets/icons/btn-outside.svg) 50% no-repeat;
  width: 142px;
  height: 50px;
  z-index: 2;
  transform: translateX(40px); }
  .left--wide {
    transform: translateX(0); }

.right {
  background: url(../assets/icons/btn-outside.svg) 50% no-repeat;
  width: 142px;
  height: 50px;
  z-index: 2;
  transform: scaleX(-1) translateX(40px); }
  .right--wide {
    transform: scaleX(-1) translateX(0); }

@media only screen and (max-width: 600px) {
  .btn {
    padding: 12px;
    border-radius: 24px;
    font-size: 18px; }
  .left {
    width: 0;
    height: 0; }
  .right {
    width: 0;
    height: 0; } }

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Sunday';
  src: url("../assets/fonts/Sunday/sunday.ttf") format("truetype"), url("./assets/fonts/Sunday/sunday.woff") format("woff"), url("./assets/fonts/Sunday/sunday.woff2") format("woff2"), url("./assets/fonts/Sunday/sunday.svg") format("svg"), url("./assets/fonts/Sunday/sunday.eot") format("eot"), url("./assets/fonts/Sunday/sunday.eot") format("embedded-opentype");
  /* IE6-IE8 */
  font-weight: normal;
  font-style: normal; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 30px 48px;
  border-radius: 24px;
  background-color: #fef9dc;
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
  color: #1f160a;
  font-weight: 500;
  line-height: 170%;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-in-out; }
  @media only screen and (max-width: 768px) {
    .top {
      padding: 20px; } }

.bottom {
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 24px;
  background-color: #fef9dc;
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
  color: #1f160a;
  font-weight: 500;
  line-height: 170%;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-in-out; }
  .bottom > *,
  .bottom > ul {
    padding-bottom: 30px; }
    @media only screen and (max-width: 768px) {
      .bottom > *,
      .bottom > ul {
        padding-bottom: 20px; } }
  .bottom > *:only-child,
  .bottom > ul:only-child {
    padding-bottom: 0; }

.active,
.top:hover,
.top:active {
  background-color: #aa7e52;
  color: #fef9dc; }

.open {
  font-size: 40px;
  padding-left: 36px; }

.editional__title {
  font-weight: 700; }

.editional__content {
  padding-left: 10px;
  font-weight: 500; }

.homework__title {
  font-weight: 700; }

.header {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  background: linear-gradient(180deg, rgba(31, 22, 10, 0) 0%, #1f160a 100%), url(../../assets/images/magestic-bgr.png), #1f160a;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1024px) {
    .header {
      height: auto;
      padding: 30px 0; } }
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
    .header .container > * {
      margin-bottom: 36px; }
    @media only screen and (max-width: 768px) {
      .header .container {
        justify-content: center;
        align-items: center; } }
  .header .icon-wrapper {
    width: 175px;
    height: 175px; }
  .header .content {
    padding: 24px 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 29px;
    text-align: center; }
    .header .content__accent {
      color: #f6c37d; }
    .header .content--border {
      border: 2px solid #f6c37d;
      filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));
      border-radius: 16px; }
    @media only screen and (max-width: 768px) {
      .header .content {
        padding: 12px;
        font-size: 20px; } }

/*advantages*/
.advantages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 40px;
    text-align: center; }
  .advantages__icon {
    margin: 0 auto; }
  .advantages__img {
    margin: 0 auto; }
  .advantages__num {
    font-family: "Sunday";
    font-size: 48px;
    color: #fef9dc;
    font-weight: normal; }
  .advantages__text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #f6c37d;
    font-weight: 600; }

.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 30px 0; }
  @media only screen and (max-width: 768px) {
    .divider {
      padding: 0;
      margin: 30px auto; } }
  .divider::before {
    content: '';
    position: absolute;
    left: 0;
    width: calc(50% - 40px);
    height: 1px;
    background-color: #aa7e52;
    opacity: 0.25; }
  .divider::after {
    content: '';
    position: absolute;
    right: 0;
    width: calc(50% - 40px);
    height: 1px;
    background-color: #aa7e52;
    opacity: 0.25; }
  .divider__icon {
    position: relative;
    max-width: 94px; }

.info .block {
  height: 770px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  background: url(../assets/icons/magestic-frame.svg) 50% no-repeat;
  background-size: contain;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .info .block {
      margin-top: -70px; } }
  @media only screen and (max-width: 768px) {
    .info .block {
      height: 550px;
      padding: 20px;
      background: none; } }
  .info .block__content {
    padding: 24px 36px;
    margin-top: 64px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 140%;
    border: 2px solid #f6c37d;
    filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));
    border-radius: 36px; }
    @media only screen and (max-width: 1024px) {
      .info .block__content {
        padding: 12px 24px;
        font-size: 24px; } }
  .info .block__accent {
    color: #f6c37d; }
  .info .block__text {
    padding: 30px 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 400;
    line-height: 140%; }
    @media only screen and (max-width: 1024px) {
      .info .block__text {
        padding: 15px 25px;
        font-size: 20px; } }
  .info .block__double {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px; }
    @media only screen and (max-width: 1024px) {
      .info .block__double {
        margin-top: 0; } }
    .info .block__double .block__text:first-child {
      position: relative; }
      .info .block__double .block__text:first-child::after {
        content: '';
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 58px;
        background-color: #fef9dc;
        opacity: 0.1; }
        @media only screen and (max-width: 768px) {
          .info .block__double .block__text:first-child::after {
            width: 0; } }

.info .block__text > h4.block__accent {
  font-weight: 600; }

.info .block--small {
  width: 100%;
  min-height: 495px;
  padding: 20px;
  background: url(../assets/icons/cards-magestic.svg) 50% no-repeat;
  background-size: contain;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .info .block--small {
      background-position: bottom; } }
  .info .block--small__content {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #fef9dc;
    font-weight: 400; }
    @media only screen and (max-width: 768px) {
      .info .block--small__content {
        font-size: 24px; } }
    @media only screen and (max-width: 430px) {
      .info .block--small__content {
        padding-top: 110px;
        font-size: 20px; } }
  .info .block--small__accent {
    color: #f6c37d;
    font-weight: 600; }

.gifts .gift {
  display: flex;
  align-items: flex-start;
  padding: 64px 78px;
  margin: 48px 0;
  background: rgba(254, 249, 220, 0.05);
  border-radius: 36px; }
  @media only screen and (max-width: 1024px) {
    .gifts .gift {
      flex-direction: column;
      align-items: center;
      padding: 30px; } }
  .gifts .gift__number {
    font-family: "Sunday";
    font-size: 84px;
    color: #fef9dc;
    font-weight: normal;
    line-height: 150%; }
  .gifts .gift__num {
    width: 210px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/images/moon-circle.png) 50% no-repeat;
    background-size: contain; }
  .gifts .gift__content {
    padding-left: 64px; }
    @media only screen and (max-width: 768px) {
      .gifts .gift__content {
        padding-left: 0;
        font-size: 20px; } }
    .gifts .gift__content > * {
      padding-bottom: 16px; }
  .gifts .gift__title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #f6c37d;
    font-weight: 600;
    line-height: 140%; }
    @media only screen and (max-width: 768px) {
      .gifts .gift__title {
        font-size: 24px;
        text-align: center; } }
  .gifts .gift__subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #aa7e52;
    font-weight: 600;
    line-height: 170%; }
  .gifts .gift__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .gifts .gift__desc {
        font-size: 20px; } }
    .gifts .gift__desc p {
      font-weight: 400; }

.gifts .list__item {
  width: 75%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #f6c37d;
  font-weight: 600;
  line-height: 170%; }
  @media only screen and (max-width: 768px) {
    .gifts .list__item {
      width: 100%;
      font-size: 20px;
      line-height: 120%;
      font-weight: 400; } }

.gifts .list__item > span {
  padding-left: 10px;
  color: #fef9dc; }

.gifts .list--ul {
  padding-left: 25px; }
  .gifts .list--ul__item {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 400;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .gifts .list--ul__item {
        font-size: 20px; } }
    .gifts .list--ul__item::before {
      content: '•';
      position: absolute;
      transform: translateX(-25px);
      color: #f6c37d; }

.form-wrapper {
  padding: 48px;
  margin: 0 auto;
  width: 716px;
  max-width: 100%; }
  @media only screen and (max-width: 768px) {
    .form-wrapper {
      padding: 15px; } }
  .form-wrapper .form-content {
    padding: 24px 0 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #fef9dc;
    font-weight: 400;
    line-height: 29px;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .form-wrapper .form-content {
        font-size: 14px; } }

.form-border {
  border: 1px dashed #f6c37d;
  border-radius: 36px;
  margin-bottom: 70px; }

.form .input {
  width: 100%;
  padding: 30px 48px;
  margin-bottom: 36px;
  border: 2px solid #aa7e52;
  border-radius: 36px;
  background: transparent;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #fef9dc;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 768px) {
    .form .input {
      padding: 15px;
      font-size: 22px; } }
  .form .input:active, .form .input:hover, .form .input:focus {
    opacity: 0.75; }
  .form .input:focus {
    color: #f6c37d; }
  .form .input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600; }
  .form .input--btn {
    background-color: #f6c37d;
    color: #1f160a; }

.exercises .content {
  padding: 24px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #1f160a;
  font-weight: 600;
  line-height: 170%;
  text-align: center; }

.exercises .accordion {
  margin: 64px 0; }

.exercises .example-block {
  padding: 48px;
  margin-bottom: 45px;
  background-color: #fef9dc;
  border-radius: 36px; }
  @media only screen and (max-width: 768px) {
    .exercises .example-block {
      padding: 20px 12px; } }

.exercises .example {
  text-align: center; }
  .exercises .example > *:not(:last-child) {
    margin-bottom: 36px; }
  .exercises .example__title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #1f160a;
    font-weight: 700;
    line-height: 140%; }
    @media only screen and (max-width: 768px) {
      .exercises .example__title {
        line-height: inherit; } }
  .exercises .example__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 600;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .exercises .example__desc {
        line-height: inherit; } }
  .exercises .example__point, .exercises .example__content {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 400;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .exercises .example__point, .exercises .example__content {
        line-height: inherit; } }

.calc-wrapper {
  text-align: center; }
  .calc-wrapper .block-title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #1f160a;
    font-weight: 700;
    line-height: 140%; }
  .calc-wrapper .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .calc-wrapper .form .input {
      min-width: 152px;
      max-width: 175px;
      padding: 20px 60px;
      margin: 12px;
      border-radius: 24px;
      border: none;
      background: #fef9dc;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      color: #1f160a;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .calc-wrapper .form .input:active, .calc-wrapper .form .input:hover, .calc-wrapper .form .input:focus {
        opacity: 0.75; }
      .calc-wrapper .form .input::placeholder {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        color: #1f160a;
        font-weight: 700; }
      .calc-wrapper .form .input--btn {
        min-width: 265px;
        background-color: #aa7e52; }
    .calc-wrapper .form input::-webkit-outer-spin-button,
    .calc-wrapper .form input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .calc-wrapper .form input[type='number'] {
      -moz-appearance: textfield; }
  .calc-wrapper .content {
    margin-bottom: 64px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 400;
    line-height: 170%; }
    .calc-wrapper .content--form {
      color: #fef9dc; }
  .calc-wrapper .output {
    margin: 64px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #1f160a;
    font-weight: 500;
    line-height: 150%; }

.form-block {
  padding: 48px;
  margin: 0 auto 64px;
  background: #1f160a;
  border-radius: 36px;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .form-block {
      padding: 10px; } }
  .form-block .icon-wrapper {
    margin: 0 auto; }
  .form-block .form-title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #fef9dc;
    font-weight: 500;
    line-height: 140%; }
    @media only screen and (max-width: 768px) {
      .form-block .form-title {
        font-size: 26px; } }
  .form-block .content {
    color: #fef9dc; }
    @media only screen and (max-width: 768px) {
      .form-block .content {
        font-size: 14px; } }

.form--dark .input {
  color: #fef9dc; }

.about .container {
  margin-top: -280px; }

.about .photo-block {
  width: 100%;
  min-height: 700px;
  background: linear-gradient(180deg, rgba(31, 22, 10, 0) 0%, #1f160a 100%), url(../assets/images/magestic-author.jpg), #1f160a;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1024px) {
    .about .photo-block {
      background-position: 50%; } }

.about .heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about .heading .title {
    padding: 12px 0;
    text-align: left; }

.about .subtitle {
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #fef9dc;
  font-weight: 500;
  line-height: 170%;
  text-align: left; }

.about .list__item {
  padding-top: 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fef9dc;
  font-weight: 400;
  line-height: 170%; }
  @media only screen and (max-width: 768px) {
    .about .list__item {
      padding: 24px 5px 0 10px;
      line-height: inherit; } }

.about .list__emp {
  color: #f6c37d;
  font-weight: 600; }

.about .icon-wrapper {
  width: 155px;
  height: 135px;
  margin: 0 auto; }

.about .signature {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 734px;
  max-width: 100%;
  padding: 24px 33px;
  margin: 48px 0 80px;
  background-color: #f6c37d;
  border-radius: 24px; }
  @media only screen and (max-width: 768px) {
    .about .signature {
      padding: 10px; } }
  .about .signature__title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 700;
    line-height: 170%; }
  .about .signature__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #1f160a;
    font-weight: 500;
    line-height: 170%; }

.learning .title {
  padding-bottom: 50px; }

.learning .subtitle {
  color: #1f160a; }

.learning .icon-wrapper--small {
  margin: 0 auto 24px; }

.program .list {
  font-weight: 500; }
  .program .list__counter {
    padding-right: 5px;
    font-weight: 700; }

.program .editional__content {
  padding-left: 10px;
  font-weight: 500; }

.program .icon-wrapper--small {
  margin: 80px auto 24px; }

.lessons .icon-wrapper {
  margin: 36px auto; }

.lessons .list__item {
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #1f160a;
  font-weight: 500;
  line-height: 170%; }

.lessons .list__counter {
  padding-right: 5px;
  font-weight: 700; }

.lessons .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 80px; }

.lessons .btn {
  color: #fef9dc;
  background-color: #1f160a; }
  .lessons .btn:hover, .lessons .btn:active {
    background-color: #aa7e52;
    color: #fef9dc; }

.lessons .left {
  background: url(../assets/icons/btn-outside-dark.svg) 50% no-repeat;
  width: 142px;
  height: 50px;
  z-index: 2;
  transform: translateX(40px); }

.lessons .right {
  background: url(../assets/icons/btn-outside-dark.svg) 50% no-repeat;
  width: 142px;
  height: 50px;
  z-index: 2;
  transform: scaleX(-1) translateX(40px); }

.requirements .subtitle {
  padding-bottom: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #f6c37d;
  font-weight: 700;
  text-align: center; }

@media only screen and (max-width: 768px) {
  .requirements {
    font-size: 30px; } }

.requirements .content {
  padding: 24px 36px 64px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #fef9dc;
  font-weight: 600;
  line-height: 170%;
  text-align: center; }
  .requirements .content--light {
    font-weight: 400; }
    .requirements .content--light .content__accent {
      color: #fef9dc;
      font-weight: 600; }
  .requirements .content__accent {
    color: #f6c37d; }
  .requirements .content--border {
    padding: 24px 30px;
    margin: 64px 0;
    border: 2px solid #f6c37d;
    filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));
    border-radius: 16px; }

.requirements .list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .requirements .list__item {
    width: 380px;
    max-width: 100%;
    height: 265px;
    margin: 33px;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .requirements .list__item {
        height: auto;
        margin: 0;
        padding: 0; } }
  .requirements .list__item:first-child {
    margin-left: 0; }
  .requirements .list__item:last-child {
    margin-right: 0; }
  .requirements .list__item:nth-child(2) {
    padding: 0 33px;
    margin: 0;
    border-right: 1px solid rgba(170, 126, 82, 0.16);
    border-left: 1px solid rgba(170, 126, 82, 0.16); }
    @media only screen and (max-width: 768px) {
      .requirements .list__item:nth-child(2) {
        padding: 0;
        border-right: none;
        border-left: none; } }
  .requirements .list__num {
    font-family: "Sunday";
    font-size: 48px;
    color: #f6c37d;
    font-weight: normal; }
  .requirements .list__info {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 170%; }
  .requirements .list--accordion {
    display: block;
    padding-bottom: 0; }

.requirements .list-info {
  padding-top: 24px; }
  .requirements .list-info__text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .requirements .list-info__text {
        font-family: inherit;
        font-size: 20px;
        color: #fef9dc;
        font-weight: 500;
        line-height: inherit; } }
  .requirements .list-info__num {
    padding-right: 10px;
    color: #f6c37d; }

.requirements .list-possibility {
  padding: 24px 0 50px; }
  .requirements .list-possibility .top,
  .requirements .list-possibility .bottom {
    background-color: #f6c37d; }

.requirements .block {
  padding: 64px;
  background: #f6c37d;
  box-shadow: 0px 10px 24px rgba(246, 195, 125, 0.2);
  border-radius: 36px; }
  @media only screen and (max-width: 768px) {
    .requirements .block {
      padding: 10px; } }
  .requirements .block .title {
    padding: 36px; }
    @media only screen and (max-width: 768px) {
      .requirements .block .title {
        padding: 24px 10px; } }
  .requirements .block__content {
    padding-bottom: 64px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 400;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .requirements .block__content {
        font-size: 20px;
        line-height: inherit; } }
  .requirements .block__accent {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 600;
    font-size: 24px;
    line-height: 170%; }
    @media only screen and (max-width: 768px) {
      .requirements .block__accent {
        font-size: 20px;
        line-height: inherit; } }

.requirements .heading {
  display: flex; }
  .requirements .heading > strong {
    padding-right: 10px; }

.price .light {
  padding-bottom: 390px; }

.price .container {
  text-align: center; }

.price .list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px; }
  .price .list__item {
    width: 380px;
    max-width: 100%;
    height: 306px;
    margin: 33px 33px 0;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .price .list__item {
        height: auto;
        padding: 0;
        margin: 0; } }
  .price .list__item:first-child {
    margin-left: 0; }
  .price .list__item:last-child {
    margin-right: 0; }
  .price .list__item:nth-child(2) {
    width: 446px;
    padding: 0 33px;
    margin: 0;
    border-right: 1px solid rgba(170, 126, 82, 0.16);
    border-left: 1px solid rgba(170, 126, 82, 0.16); }
    @media only screen and (max-width: 768px) {
      .price .list__item:nth-child(2) {
        padding: 0;
        border-right: none;
        border-left: none; } }
  .price .list__num {
    font-family: "Sunday";
    font-size: 48px;
    color: #1f160a;
    font-weight: normal; }
  .price .list__info {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1f160a;
    font-weight: 600;
    line-height: 170%; }

.price .content {
  padding: 6px 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #fef9dc;
  font-weight: 600;
  line-height: 170%;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .price .content {
      padding: 6px; } }
  .price .content--border {
    width: 890px;
    max-width: 100%;
    padding: 24px 30px;
    margin: 0 auto;
    background-color: #1f160a;
    border-radius: 16px; }
  .price .content__accent {
    color: #f6c37d;
    font-weight: 700; }
  .price .content__link {
    position: relative;
    padding: 48px 5px 10px;
    color: inherit;
    border-bottom: 2px solid #f6c37d;
    transition: all 0.3s ease-in-out; }
    .price .content__link:hover, .price .content__link:active {
      color: #fef9dc; }
    @media only screen and (max-width: 768px) {
      .price .content__link {
        font-size: 20px; } }

.price .divider {
  margin-top: 34px; }

.price .price-block {
  padding: 18px 128px;
  margin: 64px 0;
  margin-top: -390px;
  background: #1f160a;
  box-shadow: 0px 10px 24px rgba(246, 195, 125, 0.2);
  border-radius: 36px; }
  @media only screen and (max-width: 1024px) {
    .price .price-block {
      padding: 18px 24px; } }
  @media only screen and (max-width: 1024px) {
    .price .price-block {
      padding: 18px 10px; } }
  .price .price-block .icon-wrapper {
    margin-top: 60px; }
  .price .price-block__title {
    padding: 20px 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #fef9dc;
    font-weight: 500;
    line-height: 150%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .price .price-block__title {
        padding: 20px;
        font-size: 30px; } }
  .price .price-block__title-border {
    padding: 36px 64px;
    margin: 20px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #f6c37d;
    font-weight: 700;
    border: 2px dashed #f6c37d;
    filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2));
    border-radius: 36px; }
    @media only screen and (max-width: 1024px) {
      .price .price-block__title-border {
        padding: 24px; } }
    @media only screen and (max-width: 768px) {
      .price .price-block__title-border {
        padding: 24px 10px; } }
  .price .price-block__accent {
    font-weight: 700; }
  .price .price-block__shadow {
    position: relative;
    opacity: 0.5; }
    .price .price-block__shadow::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 125px;
      height: 1px;
      background-color: #f6c37d; }

.price .list-info {
  margin-bottom: 60px; }
  .price .list-info__item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 170%;
    text-align: left; }
    .price .list-info__item::before {
      content: '●';
      position: absolute;
      left: 0;
      font-size: 15px;
      color: #f6c37d; }
  .price .list-info__accent {
    color: #f6c37d; }

.video-wrapper {
  height: 0;
  position: relative;
  width: 980px;
  max-width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin: 48px auto 0;
  border-radius: 36px; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 36px; }

.subtitle {
  width: 950px;
  max-width: 100%;
  margin: 36px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #fef9dc;
  font-weight: 500; }
  @media only screen and (max-width: 1024px) {
    .subtitle {
      width: auto;
      font-size: 30px; } }
  .subtitle__bold {
    color: #f6c37d;
    font-weight: 700; }
  .subtitle--shadow {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #aa7e52;
    font-weight: 700; }

.dark .icon-wrapper {
  margin: 30px auto 36px; }

@media only screen and (max-width: 768px) {
  .dark .subtitle {
    font-size: 25px;
    line-height: inherit; } }

.footer-block {
  padding: 18px 36px;
  margin: 64px 0;
  background-color: rgba(254, 249, 220, 0.03);
  border-radius: 36px; }
  @media only screen and (max-width: 1024px) {
    .footer-block {
      padding: 18px 24px; } }
  @media only screen and (max-width: 1024px) {
    .footer-block {
      padding: 18px 10px; } }
  .footer-block__title {
    padding: 20px 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #fef9dc;
    font-weight: 500;
    line-height: 150%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .footer-block__title {
        padding: 20px;
        font-size: 30px; } }
  .footer-block__border {
    padding: 36px 64px;
    margin: 20px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #f6c37d;
    font-weight: 700;
    border: 2px solid #f6c37d;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 24px rgba(246, 195, 125, 0.2)); }
    @media only screen and (max-width: 1024px) {
      .footer-block__border {
        padding: 24px; } }
    @media only screen and (max-width: 768px) {
      .footer-block__border {
        padding: 24px 10px; } }
  .footer-block__accent {
    font-weight: 700; }
  .footer-block .content {
    padding: 6px 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 600;
    line-height: 170%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .footer-block .content {
        padding: 6px; } }
    .footer-block .content__accent {
      color: #f6c37d;
      font-weight: 700; }

.contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .contacts__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .contacts__item:first-child .social-icon {
      margin-left: 0; }
    .contacts__item:last-child {
      position: relative; }
      .contacts__item:last-child::after {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        height: 24px;
        background-color: #aa7e52; }
        @media only screen and (max-width: 1024px) {
          .contacts__item:last-child::after {
            width: 0; } }
      .contacts__item:last-child .social-icon:nth-child(2) {
        margin-left: 0; }
  .contacts__item > * {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fef9dc;
    font-weight: 400; }
  .contacts__title {
    padding-right: 5px;
    font-weight: 600; }

.social-icon {
  width: 24px;
  height: 24px;
  margin: 0 24px; }
  .social-icon__img {
    width: 100%; }

.footer {
  background-color: rgba(254, 249, 220, 0.03); }
  .footer .social-wrapper {
    display: flex;
    transform: translateY(-50%); }
  .footer .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 27px;
    margin: 0 auto;
    border-radius: 36px;
    background-color: #f6c37d; }
    @media only screen and (max-width: 768px) {
      .footer .social {
        padding: 10px;
        justify-content: space-between; } }
    .footer .social .social-icon {
      margin: 0; }
    .footer .social__item {
      padding: 0 27px; }
      @media only screen and (max-width: 768px) {
        .footer .social__item {
          padding: 13px; } }
      .footer .social__item:hover > .social__icon,
      .footer .social__item:active > .social__icon {
        box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e, 6px 6px 11px 6px rgba(0, 0, 0, 0); }
  .footer .rights {
    text-align: center; }
    .footer .rights__title {
      padding-bottom: 16px;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      color: #f6c37d;
      font-weight: 700;
      line-height: 170%; }
    .footer .rights__desc {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      color: #fef9dc;
      font-weight: 500;
      line-height: 170%; }

.visible-wrapper {
  position: relative;
  width: 100%;
  height: 594px;
  margin: 64px 0;
  padding: 0 0 64px; }
  @media screen and (max-width: 992px) {
    .visible-wrapper {
      height: 914px; } }

.visible-wrapper .slider {
  padding-bottom: 64px;
  transition: all 0.3s; }
  .visible-wrapper .slider__item {
    justify-content: space-between;
    align-items: flex-start;
    animation-name: fade; }
    @media screen and (max-width: 992px) {
      .visible-wrapper .slider__item {
        flex-direction: column;
        align-items: center; } }
  .visible-wrapper .slider__img {
    width: 320px;
    height: 320px;
    margin-right: 64px;
    float: left;
    background: url(../assets/images/frame.png) 50% no-repeat;
    background-size: cover; }
    @media screen and (max-width: 992px) {
      .visible-wrapper .slider__img {
        margin-right: 0; } }
  .visible-wrapper .slider__info {
    display: flex;
    flex-direction: column; }
  .visible-wrapper .slider__picture {
    width: 100%;
    height: 100%;
    padding: 48px;
    border-radius: 50%; }
  .visible-wrapper .slider__title {
    padding: 16px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #fef9dc;
    font-weight: 700;
    line-height: 140%; }
  .visible-wrapper .slider__city {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #f6c37d;
    font-weight: 600;
    line-height: 170%; }
  .visible-wrapper .slider__text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #fef9dc;
    font-weight: 500; }

.slider-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  transform: translate(-50%, 100%);
  text-align: center; }
  .slider-dots__item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 36px 24px;
    background-color: #aa7e52;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease; }

.active,
.slider-dots__item:hover {
  background-color: #f6c37d; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a {
  text-decoration: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
